@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

// Create your own map
$custom-color: (
  

  "custom-color": #6f42c1,
);


$theme-colors: (
  "primary":    $custom-color,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

// Merge the maps variables igualando ambas colores
$theme-colors: map-merge($theme-colors, $pag-color);

@import "./node_modules/bootstrap/scss/bootstrap.scss";